<h1>Bienvenue sur TravelEasy! ci-dessous tous les articles disponibles pour vos futurs voyages : </h1>

<% @articles.each do |article| %>
<p><%= link_to article.name, article_path(article) %></p>
<% end %>



