<h1><%= @article.name.capitalize %> - <%= @article.price%>€/j </h1>
<img src="" alt="">
<p> <%= @article.description %> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates maiores, nostrum reiciendis voluptas, amet animi nisi harum, accusamus laborum vero officia. Nam in et porro velit amet non. Maiores, veniam.</p>

<%= link_to "Retour à la liste", articles_path %>


