<div class="container">
  <div class="row">
    <div class="col-4 offset-4">

      <h1 class="form-title">Réserver</h1>
        <!-- `form_for([@restaurant, @review])`  POST **`restaurant_reviews_path`** -->
        <%= simple_form_for [@article, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <div class="d-flex justify-content-center">
            <%= f.submit "Réserver", class: "btn btn-flat form-green" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
