
.col-8 {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 64px 45px;
}

ul, li {
  list-style: none;
}

h3 {
  font-family: 'Anton', sans-serif;
  color: #616060;
}
