.simple_form {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #616060;
}

.form-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #828181;
  text-align: center;
  margin-bottom: 20px;
}


.col-4 {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px;
}

.form-green{
  margin-top: 20px;
}
