<!-- Ajax = Remote > et URL -->
<!-- %= simple_form_for [@article, @review], url: article_reviews_url(@article) do |f| %-->
<div id="new_review" class="">
  <h4 class="text-center p-3">Laisser un commentaire</h4>
  <%= simple_form_for([article, review], remote: true) do |f| %>
    <!--%= f.input :content, as: :string %-->
    <%= f.input :content, label: false, placeholder:'laisser un commentaire'%>
    <div class="d-flex justify-content-center">
      <%= f.submit "Enregistrer", class: "btn btn-flat form-green" %>
    </div>
  <% end %>
</div>
